#morph-container {
    position: relative;
    margin: 0 auto;
    height: 120px;
    /* Increased height to accommodate larger font */
    width: 100%;
    filter: url(#threshold) blur(0.6px);
    /* L'effet magique */
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;
    font-family: 'Amiri', serif;
    font-size: 36px;
    /* Reduced to fit single line on mobile */
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
    white-space: nowrap;
    /* Force single line */
}

@media (min-width: 768px) {

    #text1,
    #text2 {
        font-size: 70px;
        /* Reduced from 80px */
    }

    #morph-container {
        height: 100px;
    }
}

@media (min-width: 1024px) {

    #text1,
    #text2 {
        font-size: 100px;
        /* Reduced from 120px */
    }

    #morph-container {
        height: 150px;
    }
}

/* Cache le SVG filter pour qu'il ne prenne pas de place */
#filters {
    position: absolute;
    height: 0;
    width: 0;
    display: none;
}